body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bluecon{
    background-color:#1f2937;
    color: white;
}

.w90{
    width: 85%;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
header div{
    font-size: 24px ;
    font-weight: 600;
    margin: 0 25px;
}

ul{
    display: flex;
}
li{
    list-style-type: none;
    padding: 0 18px;
}
a{
    text-decoration: none;
    color: white;
}

.main{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    padding-bottom: 100px;
}

.maintext{
    display: flex;
    flex-direction: column;
}

.main .mainimg{
    border: 2px solid white;
    padding: 100px 200px ;
    max-width: 200px;
    background-color: white;
    opacity: 0.5;
}

.maintext .bigfont{
    font-size: 48px;
    font-weight: bolder;
}

.maintext button{
    padding: 2px 20px;
    margin: auto;
    color: white;
    background-color: #3882f6;
    border: 0;
    font-size: 15px;
    font-weight: 900;
    border-radius: 6px;
    margin-top: 10px;
}

.cenran{
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin: 50px 0;    
}

.infocon{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}



.infocon-img{
    border: 5px solid #3882f6;
    padding: 70px;
    border-radius: 10px;
    /* margin: 70px; */
}

.info{
    max-width: 200px;

}

.qoute{
    background-color: #e5e7eb;
    padding: 100px 0;
}

.qmain{
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    text-align: center;

}

.qsource{
    padding-top: 20px;
    text-align: end;
    font-size: 20px;
    font-weight: 900;
    padding-right: 100px;
}

.signup .w90{
    display: flex;
    background-color: #3882f6;
    margin: 100px auto;
    padding: 50px 0;
    border-radius: 10px;
    color: white;
    justify-content: space-around;
    align-items: center;
}

#maintext{
    font-size: 20px;
    font-weight: bolder;
}

.button button{
    background-color: #3882f6;
    border: 2px solid white;
    padding: 5px 25px;
    color: white; 
    font-weight: bolder;
    border-radius: 6px;
}

footer{
    background-color: #1f2937;
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 25px 0;
}